{
  "extends": "kellyirc",
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "globals": {
    "_": true,
    "dice": true,
    "ROT": true
  },
  "rules": {
    "no-extra-parens": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "indent": [2, 2],
    "brace-style": [2, "1tbs", { "allowSingleLine": true }]
  }
}
