script(type="text/ng-template", id="dungeon-tab")
  .dungeon-container(fill-height, offset="40")
    .row.margin-bottom-20
      .col-xs-3 [Objective]
      .col-xs-9 {{victory.description}}

    .row.margin-bottom-20
      .col-xs-12 {{world.depth}} floors, each {{world.width}}x{{world.height}} tiles

    .row(ng-repeat="floor in world.tiles")
      .col-xs-3 [Floor {{$index+1}}]
      .col-xs-9 {{floor.mapName}}
