script(type="text/ng-template", id="log-tab")
  .msg-container(fill-height, offset="40", scroll-bottom="log")
    .msg(ng-repeat="msg in log")
      .timestamp [{{msg.time | date:'h:mm a'}}]
      .string {{msg.msg}}