script(type="text/ng-template", id="party-tab")
  div(fill-height, offset="40")
    .player-block
      .text-center Members
      .margin-bottom-20(ng-repeat="player in players")
        .row
          .col-xs-12 {{player.hp.atMin() ? '(DEAD)' : ''}} {{player.name}}

        .row
          .col-xs-12 Level {{player.level}} {{player.getAlign()}} {{player.race}} {{player.profession}} ({{player.professionInst.title}})

        .row
          .stat-block.col-xs-4 HP:{{player.hp.cur}}/{{player.hp.max}}
          .stat-block.col-xs-4 MP:{{player.mp.cur}}/{{player.mp.max}}
          .stat-block.col-xs-4 XP:{{player.xp.cur}}/{{player.xp.max}}

        .row
          .stat-block.col-xs-2 STR:{{player.getStat('str')}}
          .stat-block.col-xs-2 DEX:{{player.getStat('dex')}}
          .stat-block.col-xs-2 CON:{{player.getStat('con')}}
          .stat-block.col-xs-2 INT:{{player.getStat('int')}}
          .stat-block.col-xs-2 WIS:{{player.getStat('wis')}}
          .stat-block.col-xs-2 CHA:{{player.getStat('cha')}}

    .inventory-block
      .text-center Inventory
      uib-tabset(justified="true")
        uib-tab(ng-repeat="player in players", heading="{{player.name}}")
          div(fill-height, offset="{{inventoryOffset()}}")
            .row.item(ng-if="player.inventory.length === 0")
              .col-xs-12.text-center Empty
            .row.item(ng-repeat="item in player.inventory | orderBy:'name'")
              .col-xs-1.item-glyph(ng-style="{'color': item.glyph.fg}") {{item.glyph.key}}
              .col-xs-8.item-name
                | {{item.charges}}
                | {{item.name}}
              .col-xs-3.item-actions
                // .btn.btn-link
                a.btn.btn-link(ng-click="dropItem(player, item)") Drop