script(type="text/ng-template", id="party-tab")
  .player-block.margin-bottom-20(ng-repeat="player in players")
    .row
      .col-xs-12 {{player.hp.atMin() ? '(DEAD)' : ''}} {{player.name}}

    .row
      .stat-block.col-xs-4 HP:{{player.hp.cur}}/{{player.hp.max}}
      .stat-block.col-xs-4 MP:{{player.mp.cur}}/{{player.mp.max}}
      .stat-block.col-xs-4 XP:{{player.xp.cur}}/{{player.xp.max}}

    .row
      .col-xs-12 Level {{player.level}} {{player.getAlign()}} {{player.race}} {{player.profession}} ({{player.professionInst.title}})

     // name hp mp xp
     // lvl X chaotic male human sorceror (title)
