script(type="text/ng-template", id="upgrades")
  .col-md-12
    .row.padding-left-15
      .col-md-4
        span SP
        span.pull-right {{currencyDataManager.currency.sp | number:0}}
      .col-md-4
        span KP
        span.pull-right {{currencyDataManager.currency.kp | number:0}}
      .col-md-4
        span VP
        span.pull-right {{currencyDataManager.currency.vp | number:0}}