doctype html
html(ng-app="Roguathia", ng-controller="Root")
  head
    title Roguathia
    link(rel="stylesheet", href="css/lib.min.css")
    link(rel="stylesheet", href="css/main.min.css")

  body
    header.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand Roguathia

    .container-fluid(ng-cloak)
      .row.margin-left--30
        .col-md-7
          .row
            .col-md-12.text-center#game-area

          .row(ng-controller="Upgrades", ng-include="'upgrades'")

        .col-md-5
          uib-tabset(justified="true")
            uib-tab(heading="Party")
              div(ng-controller="Party", ng-include="'party-tab'")

            uib-tab(heading="Dungeon")
              div(ng-controller="Dungeon", ng-include="'dungeon-tab'")

            uib-tab(heading="Achievements", ng-if="false")
              div achievements

            uib-tab(heading="Log")
              log

            uib-tab(heading="Options")
              div options

    script(src="js/lib.min.js")
    script(src="js/main.min.js")