#game-area {
  background-color: black;
}

@media only screen and (min-width : 992px) {
  body {
    min-width: 1250px;
    overflow-y: hidden;
  }
}

.player-block, .inventory-block {
  height: 50%;
  min-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

.inventory-block {
  overflow-y: hidden;
}

.navbar {
  margin-bottom: 0;
}

[fill-height] {
  overflow: auto;
  overflow-x: hidden;
}

.msg {

  display: table;

  .timestamp {
    width: 100px;
    display: table-cell;
    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }
  .string {
    padding-left: 10px;
    display: table-cell;
  }
}

.current-floor .floor-number::before {
  content: '> ';
}

$paddings: top bottom left right;

@for $size from -11 to 11 {
  .padding-#{$size*5} { padding: #{$size*5}px }
  .margin-#{$size*5} { margin: #{$size*5}px }
  @each $padding in $paddings {
    .padding-#{$padding}-#{$size*5} { padding-#{$padding}: #{$size*5}px }
    .margin-#{$padding}-#{$size*5} { margin-#{$padding}: #{$size*5}px }
  }
}

.item {
  .btn {
    margin: 0;
    padding: 0;

    &:active {
      margin: 0;
    }
  }
}

.inventory-block .btn, .uib-dropdown-menu .btn {
  margin: 0;
}